*{
    margin: 0
}
header{
    background-color: black;
}
a:link{
    color: rgb(127, 63, 255);
    background-color: transparent;
    text-decoration: none;

}
a:hover{
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
nav{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

nav li{
    display: inline;
    margin-left: 100px;
}
.nav a{
    margin-right: 10px;
    display: inline-block;
}
ul{
    margin-top: 17px;
    list-style: none;
    display: flex;
}

ul li a{
    margin-right: 25px;
}
body{
    text-align: left;
    background-color: rgb(39, 14, 61);
    font-family:  Georgia, serif;
}

h3{
    margin-top: 150px ;
    color: aliceblue;
    margin-left: 30px;
    font-family: Georgia, serif;
    font-size: 30px;

}

.imagem{
    background-image: url(background.jpg);
    background-position-y: center;
    height: 500px;
    border-radius: 30px;
    margin-top: 30px;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0px;
}